.back{
  height: 800px;
  background-image: url("../img/back.png");
  background-size: 2100px 900px;
  position: sticky;
}
.textMessage{

}
.game {
  width: 100%;
  max-height: 100px;
}
.door {
  width: 200px;
  height: 440px;
  background-image: url("../img/close.png");
  background-size: 200px 440px;
  position: absolute;
  top: 150px;
}
.lose {
  animation: loseAnimation 6s linear;
}
@keyframes loseAnimation {
  0% {
    background-image: url("../img/close.png");
  }
  70% {
    background-image: url("../img/openBad.png");
  }
}

.win {
  animation: winAnimation 6s linear;
}
@keyframes winAnimation {
  0% {
    background-image: url("../img/close.png");
  }
  70% {
    background-image: url("../img/open_1.png");
  }
}

.listDoor{
    list-style-type: none;
}

.listDoor a{
    font-size: 30px;
    margin-top: 15px;
	font-family: inherit;
	font-weight: bold;
	color: #F0EDEE;
}

.textMessage{
    margin: 0 auto;
    text-align: center;
    font-size: 45px;
	font-family: inherit;
	font-weight: bold;
	color: #F0EDEE;
}

.btnPlay{
    left: 100px;
    margin: 15px;
    font-size: 20px;
	font-family: inherit;
	font-weight: bold;
}