<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Document</title>

	<link rel="stylesheet" href=" {% static 'info/css/main.css' %}">

	<script src="{% static 'info/libs/gsap/gsap.min.js' %}" defer></script>
	<script src="{% static 'info/libs/gsap/ScrollTrigger.min.js' %}" defer></script>
	<script src="{% static 'info/libs/gsap/ScrollSmoother.min.js' %}" defer></script>

	<script src="{% static 'info/js/app.js' %}" defer></script>

</head>
<body>

	<div class="wrapper">
		<div class="content">

			<header class="main-header">
				<div class="layers">
					<div class="layer__header">

						<div class="layers__title"> НАШИ </div>
						<div class="layers__title"> РАЗРАБОТЧИКИ</div>
					</div>
					<div class="layer layers__base" style="background-image: url({% static 'info/img/layer-base.png' %});"></div>
					<div class="layer layers__middle" style="background-image: url({% static 'info/img/layer-middle.png' %});"></div>
					<div class="layer layers__front" style="background-image: url({% static 'info/img/layer-front.png' %});"></div>
				</div>
			</header>

			<article class="main-article" style="background-image: url({% static 'info/img/dungeon.jpg' %});">
				<div class="main-article__content">
					<h2 class="main-article__header">KIRILL PAPANOV</h2>
					<p class="main-article__paragraph">
						Всеяотец сайта. Он же тимлид. Он же Тони Старк.
					</p>
				</div>
			</article>
			<article class="main-article" style="background-image: url({% static 'info/img/dungeon.jpg' %});">
				<div class="main-article__content">
					<h2 class="main-article__header">PAVEL KOBZOV</h2>
					<p class="main-article__paragraph">
						Криптомагнат. Уничтожил машину из-за шмеля. А также ваш дружелюбный сосед, человек паук.
					</p>
				</div>
			</article>
			<article class="main-article" style="background-image: url({% static 'info/img/dungeon.jpg' %});">
				<div class="main-article__content">
					<h2 class="main-article__header">DANIL NIKULIN</h2>
					<p class="main-article__paragraph">
					Басист опаздывает на репетицию.
					Запыхался, прибежал, ставит на колонку бутылку водки.
					Ему все: Ты что - на репетицию с водкой?
					- Нет, я на пьянку - с гитарой.
					</p>

				</div>
			</article>
			<article class="main-article" style="background-image: url({% static 'info/img/dungeon.jpg' %});">
				<div class="main-article__content">
					<h2 class="main-article__header">ARTEM PERESADA</h2>
					<p class="main-article__paragraph">
						Приехал из хита "Мумий Троль".
						Бог паралакса!
					</p>
				</div>
			</article>
			<article class="main-article" style="background-image: url({% static 'info/img/dungeon.jpg' %});">
				<div class="main-article__content">
					<h2 class="main-article__header">KONSTANTIN KUKUSHKIN</h2>
					<p class="main-article__paragraph">
						Дизайнер фантомас.
					</p>
				</div>
				<div class="copy">&copy; SNOWTEAM DESIGNED</div>
				<div class="back"><a href="{% url 'home' %}" style="background-color: #BAD9FF;">Вернуться</a></div>
			</article>

		</div>
	</div>

</body>
</html>