<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Document</title>

	<link rel="stylesheet" href=" {% static 'info/css/main.css' %}">

	<script src="{% static 'info/libs/gsap/gsap.min.js' %}" defer></script>
	<script src="{% static 'info/libs/gsap/ScrollTrigger.min.js' %}" defer></script>
	<script src="{% static 'info/libs/gsap/ScrollSmoother.min.js' %}" defer></script>

	<script src="{% static 'info/js/app.js' %}" defer></script>

</head>
<body>

	<div class="wrapper">
		<div class="content">

			<header class="main-header">
				<div class="layers">
					<div class="layer__header">

						<div class="layers__title"> НАШИ </div>
						<div class="layers__title"> РАЗРАБОТЧИКИ</div>
					</div>
					<div class="layer layers__base" style="background-image: url({% static 'info/img/layer-base.png' %});"></div>
					<div class="layer layers__middle" style="background-image: url({% static 'info/img/layer-middle.png' %});"></div>
					<div class="layer layers__front" style="background-image: url({% static 'info/img/layer-front.png' %});"></div>
				</div>
			</header>

			<article class="main-article" style="background-image: url({% static 'info/img/dungeon.jpg' %});">
				<div class="main-article__content">
					<h2 class="main-article__header">LOPATA KOBZOV</h2>
					<p class="main-article__paragraph">
						Привет, детки, мое имя русский рэпер
						Я свеж и весел, моё каре ласкает ветер
						Конечно не из этих, дорогие дети
						У меня есть половина всех тех денег на планете
						Я ебу собак, людей, женщин и всем этим понтуюсь
						Я целуюсь с малолетками, со всеми, бля, тусуюсь
						Я сейчас в туре, заехал в свой отель
						Я богат и независим, превращу его в бардель
						Есть модель из инстаграма, есть знакомая певица
						Есть малышка с клипа хоумис, всегда есть чем поживиться
						Ой, я так мечтаю убиться, хули мелочиться, мне так похуй на все, что может случиться
						У, бля, мои дреды круче всех
						У, бля, моих дредов ждет успех
						У, бля, ведь повторять слова не грех
						Сделал хит и забыл я, нахуй, про всех
					</p>
				</div>
			</article>
			<article class="main-article" style="background-image: url({% static 'info/img/dungeon.jpg' %});">
				<div class="main-article__content">
					<h2 class="main-article__header">ARTEM PERESADA</h2>
					<p class="main-article__paragraph">Паше привет !!!</p>
				</div>
			</article>
			<article class="main-article" style="background-image: url({% static 'info/img/dungeon.jpg' %});">
				<div class="main-article__content">
					<h2 class="main-article__header">KIRILL PAPANOV</h2>
					<p class="main-article__paragraph">ЗДЕСЬ НУЖНО ВСЕМ ПРИДУМАТЬ ТЕКСТ !!!</p>
				</div>
			</article>
			<article class="main-article" style="background-image: url({% static 'info/img/dungeon.jpg' %});">
				<div class="main-article__content">
					<h2 class="main-article__header">DANIL NIKULIN</h2>
					<p class="main-article__paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis error provident dignissimos facere. Repellendus tempore autem qui! Quia magnam tempora esse id necessitatibus corrupti mollitia expedita sapiente cum rerum, ut dicta laboriosam!</p>
				</div>
			</article>
			<article class="main-article" style="background-image: url({% static 'info/img/dungeon.jpg' %});">
				<div class="main-article__content">
					<h2 class="main-article__header">KONSTANTIN KUKUSHKIN</h2>
					<p class="main-article__paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis error provident dignissimos facere. Repellendus tempore autem qui! Quia magnam tempora esse id necessitatibus corrupti mollitia expedita sapiente cum rerum, ut dicta laboriosam!</p>
				</div>
				<div class="copy">&copy; SNOWTEAM DESIGNED</div>
				<div class="back"><a href="{% url 'home' %}" style="background-color: #BAD9FF;">Вернуться</a></div>
			</article>

		</div>
	</div>

</body>
</html>