{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Казино{% endblock %}

{% block content %}
	{% if user.is_authenticated %}

<div class="back">
        <link rel="stylesheet" href="{% static 'casino/css/door.css' %}">
	    <h1 class="textMessage" id="textMessage">
            <svg viewBox="0 40 1000 180" width="20%" height="20%">
              <!-- Symbol-->
              <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="50%" dy=".30em" id="textM">ВЕРОЯТНОСТНАЯ КОМНАТА</text>
              </symbol>
              <!-- Duplicate symbols-->
              <use class="text" xlink:href="#s-text"></use>
              <use class="text" xlink:href="#s-text"></use>
              <use class="text" xlink:href="#s-text"></use>
              <use class="text" xlink:href="#s-text"></use>
              <use class="text" xlink:href="#s-text"></use>
            </svg>
        </h1>
        <ul class="listDoor" id="listDoor">
			<li><button id="easy" class="glow-button" onclick="changeLevel(3)">Легко</button></li>
			<li><button id="hard" class="glow-button" onclick="changeLevel(2)">Сложно</button></li>
		</ul>
        <div class="game" id ="game">
            <button id = "play" onclick="play()" class="shine-button">СБЕЖАТЬ</button>
        </div>
        <script>
            var casinoRedirect = '{% url "door" %}'
            var pathToOpen = '{% static "casino/img/open.png" %}';
            var pathToOpenBed = '{% static "casino/img/openBad.png" %}';
            var pathToClose = '{% static "casino/img/close.png" %}';
        </script>
        <script src="{% static 'casino/js/door.js' %}"></script>
</div>
    {% endif %}
{% endblock %}