{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Казино{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
<div class="back">
        <link rel="stylesheet" href="{% static 'casino/css/door.css' %}">
	    <h1 class="textMessage" id="textMessage">Дверь</h1>
        <ul class="listDoor" id="listDoor">
			<li><a id="easy" class="liDoor" onclick="changeLevel(3)"><p>Легко</p></a></li>
			<li><a id="hard" class="liDoor" onclick="changeLevel(2)"><p></p>Сложно</a></li>
		</ul>
        <div class="game" id ="game">
            <button id = "play" onclick="play()" class="btnPlay">PLAY</button>
        </div>
        <script>
            var casinoRedirect = '{% url "door" %}'
            var pathToOpen = '{% static "casino/img/open.png" %}';
            var pathToOpenBed = '{% static "casino/img/openBad.png" %}';
            var pathToClose = '{% static "casino/img/close.png" %}';
        </script>
        <script src="{% static 'casino/js/door.js' %}"></script>
</div>
    {% endif %}
{% endblock %}