{% extends 'main/layout.html' %}

{% block title %}Место{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
	    <div class="places">
            <h3>{{ object.title }}</h3>
            <p>{{ object.user }}</p>
            <p>Описание:</p>
            <p>{{ object.text }}</p>
            <p>Категория:</p>
            <p>{{ object.deadline }}</p>
            <p>Дата публикации:</p>
            <p>{{ object.date }}</p>
            {{m | safe}}
            {% if object.user|stringformat:'s' == user.get_username|stringformat:'s' %}
                <form action="{% url 'delete_view' pk=object.pk %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-default btn-danger" type="submit" value="Удалить"/>
                </form>
                <form action="{% url 'edit_view' object.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-default btn-warning" type="submit" value="Редактировать"/>
                </form>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}