{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Задачи{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
	    <h1 class="tasks_article">Задачи</h1>
        <div>
            <a href="{% url 'create' %}"><button type="button" class="double-border-button">Добавить задачу</button></a>
        </div>
        <div class="listTasks">
            {% for el in tasks %}
                <div class="post">
                    <a href="{{ el.get_absolute_url }}">
                        <div class="tasks">
                            <h3>{{ el.title }}</h3>
                            <p>{{ el.user }}</p>
                            <p>Дата публикации: {{ el.date }}</p>
                            <p>Срок: {{ el.deadline }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}