@media(max-width: 900px){
	.navbar li .links{
		display: none;
	}
	.auth img, .register img{
		display: none;
	}
}
@media(min-width: 901px){
	.navbar .toggle_btn{
		display: none;
	}
}
body{
	background: #07393C;
	color: #fff;
}
.place{
  max-height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.zaregan{
	background-color: red;
	border-radius: 20px;
	color: #fff;
	margin: 250px auto;
	text-align: center;
	width: 500px;
	transition: transform .6s ease;
	display: block;
}
.zaregan a{
	text-decoration: none;
	color: white;
	font-size: 40px;
	transition: transform .6s ease;
}
.zaregan a:hover, .zaregan:hover{
	background: darkred;
	color: dimgray;
	transform: scale(1.05);
}
.navbar{
	height: 75px;
	background: #2c666e;
}

.navbar ul{
	list-style-type: none;
}
.navbar li{
	display: flex;
	float: left;
	margin-left: 150px;
	font-size: 20px;
}
.navbar .links{
	color: #A8A8A8;
	text-decoration: none;
	display: block;
	transition: transform .6s ease;
}
.navbar .mainimg{
	width: 100px;
	display: block;
	transition: transform .6s ease;
}
.navbar p{
	margin-top: 15px;
	font-family: inherit;
	font-weight: bold;
	color: #F0EDEE;
}
.navbar a:hover, .navbar li:hover{
	color: #fff;
	transform: scale(1.05);
}
/*DROPDOWN MENU*/
.navbar .toggle_btn{
	width: 40px;
	height: 40px;
	color: #fff;
	margin-right: 40px;
	margin-bottom: 25px;
	cursor: pointer;
}
.dropdown_menu{
	position: absolute;
	right: 2rem;
	top: 90px;
	width: 300px;
	background: #75698c;
	text-align: center;
	display: none;
	border-radius: 10px;
}
.dropdown_menu li{
	list-style: none;
	padding: 0.5rem;
	font-size: 20px;
}
.dropdown_menu a{
	text-decoration: none;
	color: #fff;
}
.dropdown_menu .ddmenureg{
	background: red;
	border-radius: 20px;
	color: #fff;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.dropdown_menu .ddmenureg p{
	margin-top: 10px;
}
/*----------------------*/
.navbar .toggle_btn img{
	width: 40px;
	height: 40px;
}

.register img{
	width: 40px;
	margin-right: 40px;
	margin-bottom: 25px;
}
.signup h1{
	margin-top: 10px;
	margin-left: 20px;
}
.form-control{
	margin-left: 20px;
	width: 500px;
}
.btn-success{
	margin-left: 20px;
}
.signup span{
	margin-left: 20px;
}
.auth ul{
	list-style-type: none;
}
.auth li{
	display: flex;
	float: left;
	margin-left: 40px;
	font-size: 20px;
	transition: transform .6s ease;
	margin-bottom: 10px;
}
.auth a{
	text-decoration: none;
	color: #A8A8A8;
}

.auth a:hover, .auth li:hover{
	color: #fff;
	transform: scale(1.05);
}
.auth img{
	width: 40px;
	margin-right: 40px;
	margin-top: 10px;
}
.double-border-button {
  height: 60px;
  weight: 110px;
  top: 250px;
  left: 80%;
  right: 0;
  bottom: 0;
  background: #07393c;
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #f0edee;
  color: #f0edee;
  font-family: 'Montserrat', sans-serif;
  transition: .4s;
}
.double-border-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(240, 237, 238, 1);
  transition: .4s;
}
.double-border-button:hover:after {
  border-color: #f0edee;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}
form {
	margin-left: 5%;
	margin-top: 20px;
}
form textarea{
	height: 200px;
}
h1{
	margin-left: 8%;
}
.tasks_article{
    font-size: 40pt;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.listTasks{
    align-items: center;
}
.tasks{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	margin-top: 25px;
	width: 700px;
	background: #75698c;
	border-radius: 10px;
	padding: 10px;
}
.tasks h3{
	margin-left: 3%;
}
.tasks p{
	margin-left: 3%;
}
.post a{
	text-decoration: none;
	color: #F0EDEE;
}
/*.post{
	margin-top: 10px;
	margin-left: 25%;
	width: 700px;
	align-items: center;
	padding: 10px;
}*/
.footer {
    bottom: 0;
    left: 0;
    padding: 10px 20px; /* Поля вокруг текста #0C91F0 */
    background: #2c666e; /* Цвет фона */
    margin-top: 20px;

   }
.footer a{
    padding: 10px; /* Поля вокруг текста */
    color: #F0EDEE; /* Цвет текста */
   }

/*
back: #0C91F0 / #113B7A / #194370
up and foo: #2c666e
text: #F0EDEE
*/
